    body {
      font-family: Arial, sans-serif;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      margin: 0;
    }

    table {
      border-collapse: collapse;
      width: 80%;
      margin-bottom: 20px;
    }

    th, td {
      border: 1px solid #ddd;
      padding: 8px;
      text-align: left;
    }

    th {
      background-color: #f2f2f2;
    }

    input, select {
      width: 100%;
    }

    button {
      padding: 10px;
      margin-top: 10px;
      background: rgb(19, 255, 19);
    }
