
<h1>Jai Shree Ram</h1>


<ul *ngfor="let bk of softBooks">

  ID: {{bk.id}}, Name:{{bk.name}},category: {{bk.category}}

</ul>




<!--
<h3>Router Link Example</h3>
<a [routerLink]="['/student']">Student</a>
<br>
<a [routerLink]="['/studentDetails']">Student-Details</a>
<br>

<button (click)="student()"> Show Students</button>


<div>
  <router-outlet></router-outlet>

</div> -->






























<!-- <h1>Jai Shree Ram</h1>
<h4>1.this pipe for currency conveter</h4>
<br>
 <h4>2.This pipe is for DateAndTime</h4>
 <h2>{{mydate}}</h2>

<h2>Your message: {{_msg}}</h2>
 <button (click)="getmessage()">sitaRam</button>

<app-students-data></app-students-data>
<br>
<app-students-list></app-students-list> -->
